body {
	background-image: url(fundo.jpg);
	background-attachment: fixed;
	background-size: 100%;
}		

#cabecalho {
	position: absolute;
	width: 	669px;
	height: 167px;
	left: 	-10px;
	top: 	125px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	/* or 117% */
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #6DF42E;	
}

#texto {
	position: absolute;
	width: 671px;
	height: 454px;
	left: 99px;
	top: 254px;
	font-family: Content;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	/* or 117% */
	color: #FFFFFF;
}

#Texto2 {
	position: absolute;
	width: 	509px;
	height: 366px;
	left: 	8px;
	top: 	472px;
	font-family: Content;
	font-style: normal;
	font-weight: normal;
	font-size: 	18px;
	line-height:28px;
	/* or 156% */
	color: #FFFFFF;
}

#logo {
	position: absolute;
	width: 	251px;
	height: 72px;
	left: 	68px;
	top: 	26px;
}

h1 {
	position: absolute;
	width: 	182px;
	height: 28px;
	left: 	700px;
	top: 	100px;
	font-family: Content;
	font-style: normal;
	font-weight: bold;
	font-size:   30px;
	line-height: 28px;
	/* identical to box height, or 93% */
	color: #FFFFFF;
}